[submodule "chinese-chess-frontend"]
	path = chinese-chess-frontend
	url = git@github.com:water2027/chinese-chess-frontend.git
[submodule "chinese-chess-backend"]
	path = chinese-chess-backend
	url = git@github.com:water2027/chinese-chess-backend.git
